---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/Navbar.astro";
import Header from "@/components/Header.astro";
import Heading from "@/components/Heading.astro";
import Footer from "@/components/Footer.astro";
import ExperienceBlock from "@/components/ExperienceBlock.astro";
import MdLine from "@/components/MdLine.astro";
import MdListItem from "@/components/MdListItem.astro";
import type { Experience as ExperienceType, LocalizedStrings } from "@/types/shared";
import { t, changeLanguage } from "i18next";
import Icon from "@/components/Icon.astro";
import { data } from "@/data";
import Contact from "@/components/Contact.astro";
import Experience from "@/components/Experience.astro";
import Companies from "@/components/Companies.astro";
import TechStack from "@/components/TechStack.astro";

changeLanguage("en");

interface Props {
    jsonLd: string;
    strings: LocalizedStrings;
}
const jobs = t("jobs:list", { returnObjects: true }) as ExperienceType[];
const jsonLd = {
    "@context": "https://schema.org",
    "@type": "Person",
    name: "Leandro Gomez",
    hasCredential: jobs.map((job: ExperienceType) => ({
        "@type": "EducationalOccupationalCredential",
        name: job.title,
        recognizedBy: {
            "@type": "Organization",
            name: job.company,
            sameAs: job.website,
        },
        startDate: job.dates.from,
        ...(job.dates.to && { endDate: job.dates.to }),
        description: job.details.join(". "), // or join multiple
    })),
};
const jsonLdString = JSON.stringify(jsonLd);
---

<Layout>
    <script type="application/ld+json" set:html={jsonLdString} slot="head" />
    <Navbar />
    <Header />
    <TechStack />
    <section class="w-full pt-32 -mt-32" id="job-history">
        <Companies />
        <Experience jobs={jobs} />
    </section>
    <Contact />
    <Footer />
</Layout>
