---
import Layout from "../layouts/Layout.astro";
import Navbar from "@/components/Navbar.astro";
import Header from "@/components/Header.astro";
import Heading from "@/components/Heading.astro";
import ExperienceBlock from "@/components/ExperienceBlock.astro";
import MdLine from "@/components/MdLine.astro";
import MdListItem from "@/components/MdListItem.astro";
import { experiences } from "@/data/es.json";

const jsonLd = {
    "@context": "https://schema.org",
    "@type": "Person",
    name: "Leandro Gomez",
    hasCredential: experiences.map((job) => ({
        "@type": "EducationalOccupationalCredential",
        name: job.title,
        recognizedBy: {
            "@type": "Organization",
            name: job.company,
            sameAs: job.website,
        },
        startDate: "2024-06",
        description: job.details.join(". "), // or join multiple
    })),
};
const jsonLdString = JSON.stringify(jsonLd);
---

<Layout>
    <script type="application/ld+json" set:html={jsonLdString} slot="head" />
    <Navbar />
    <Header />
    <div class="container mx-auto flex flex-col gap-2 px-6 pb-64">
        <h2>
            <Heading title="Experience" />
        </h2>
        <div class="w-full flex flex-col gap-6">
            <span class="text-5xl">
                Trusted by <span class="text-primary-100">top-tier</span> companies!
            </span>
            <div class="w-full flex flex-wrap justify-center gap-6">
                <div class="h-24 w-64 border"></div>
                <div class="h-24 w-64 border"></div>
                <div class="h-24 w-64 border"></div>
                <div class="h-24 w-64 border"></div>
                <div class="h-24 w-64 border"></div>
                <div class="h-24 w-64 border"></div>
                <div class="h-24 w-64 border"></div>
            </div>
        </div>

        <div class="w-full flex flex-col gap-6 mt-24 lg:px-12">
            {
                experiences.map(({ details, ...experience }, idx: number) => (
                    <ExperienceBlock class={idx % 2 === 0 ? "lg:-ml-12" : "lg:ml-12"} {...experience}>
                        {details.map((detail) => (
                            <MdLine as="p">
                                <MdListItem>{detail}</MdListItem>
                            </MdLine>
                        ))}
                    </ExperienceBlock>
                ))
            }
        </div>
    </div>
</Layout>
