---
import { t } from "i18next";
import Heading from "./Heading.astro";
import Container from "./Container.astro";

const companies = [
    {
        name: "Vizio",
        logo: "/companies/vizio.webp",
    },
    {
        name: "Siemens",
        logo: "/companies/siemens.webp",
    },
    {
        name: "DigitalHouse",
        logo: "/companies/digitalhouse.webp",
    },
    {
        name: "Bitpatagonia",
        logo: "/companies/bitpatagonia.svg",
    },
    {
        name: "Cardlytics",
        logo: "/companies/cardlytics.webp",
    },
    {
        name: "Agile Engine",
        logo: "/companies/agileengine.webp",
    },
    {
        name: "ShallPass",
        logo: "/companies/shallpass.svg",
    },
];
---

<Container>
    <!-- Companies logos -->
    <h2>
        <Heading as="h2" title={t("site:experience")} />
    </h2>
    <div class="w-full flex flex-col gap-6">
        <span class="text-5xl">
            {t("site:experience-subtitle.0")}
            <span class="text-primary-100">{t("site:experience-subtitle.1")}</span>
            {t("site:experience-subtitle.2")}
        </span>
    </div>
</Container>

<div class="w-full flex flex-wrap items-center justify-center gap-6 lg:gap-12 mt-12 lg:px-0">
    {
        companies.map((company) => (
            <div class="w-1/3 lg:w-auto lg:h-10">
                <img
                    src={company.logo}
                    alt={`${company.name} logo`}
                    class="w-full lg:size-full object-center object-cover opacity-60"
                />
            </div>
        ))
    }
</div>
