---
import { data } from "@/data";
import Icon from "./Icon.astro";
import { t } from "i18next";
---

<!-- Contact form -->
<section id="contact" class="w-full flex flex-col justify-center min-h-screen">
    <div class="container mx-auto">
        <form action="https://api.web3forms.com/submit" method="POST" class="w-full">
            <input type="hidden" name="access_key" value="422df993-72da-4e7d-bc80-846002d11743" />
            <input type="checkbox" name="botcheck" class="hidden" style="display: none;" />

            <div class="w-full flex flex-col gap-12">
                <h3 class="text-5xl">
                    {t("site:contact-title.0")}<br /><span class="text-primary-100 text-6xl">
                        {t("site:contact-title.1")} 👌🏽
                    </span>
                </h3>
                <div class="bg-primary-900/20 p-12 rounded-3xl grid grid-cols-2 gap-8">
                    <div class="w-full flex flex-col gap-4">
                        <div class="w-full flex flex-col gap-2">
                            <label for="name" class="text-primary-100">{t("site:contact.name.label")}</label>
                            <input
                                type="text"
                                name="name"
                                placeholder={t("site:contact.name.placeholder")}
                                required
                                class="bg-primary-900/50 text-primary-50 px-6 h-14 rounded-xl"
                            />
                        </div>
                        <div class="w-full flex flex-col gap-2">
                            <label for="email" class="text-primary-100">{t("site:contact.email.label")}</label>
                            <input
                                type="email"
                                name="email"
                                placeholder={t("site:contact.email.placeholder")}
                                required
                                class="bg-primary-900/50 text-primary-50 px-6 h-14 rounded-xl"
                            />
                        </div>
                        <div class="w-full flex flex-col gap-2">
                            <label for="message" class="text-primary-100">{t("site:contact.message.label")}</label>
                            <textarea
                                name="message"
                                required
                                class="bg-primary-900/50 text-primary-50 px-6 py-2.5 rounded-xl resize-none"
                                rows="4"
                                placeholder={t("site:contact.message.placeholder")}
                            >
                                {""}
                            </textarea>
                        </div>
                        <div class="w-full flex items-start mt-2">
                            <button
                                type="submit"
                                class="bg-primary-300 hover:bg-primary-200 px-8 py-3 rounded-full text-primary-900 cursor-pointer"
                            >
                                {t("site:contact.submit")}
                            </button>
                        </div>
                    </div>

                    <div class="size-full bg-primary-900/20 p-4 rounded-xl overflow-hidden relative">
                        <div class="absolute inset-0 size-full p-1">
                            <img
                                src="/profile.png"
                                alt="Leandro Gomez's profile photo"
                                class="rounded-lg object-center object-cover size-full"
                            />
                        </div>
                        <div
                            class="absolute bottom-1 left-1 right-1 rounded-b-lg bg-gradient-to-t from-black/50 to-transparent h-1/2"
                        >
                            <div class="size-full flex flex-col justify-end items-center pb-2">
                                <span class="text-primary-100">{t("site:contact.find-me-at")}</span>
                                <div class="w-full flex gap-2 flex-center">
                                    <a
                                        href={data.linkedin.url}
                                        target="_blank"
                                        class="h-14 rounded-full w-14 flex-center hover:bg-primary-300/10"
                                    >
                                        <Icon name="linkedin" class="text-primary-100" />
                                    </a>
                                    <a
                                        href={data.whatsapp.url}
                                        target="_blank"
                                        class="h-14 rounded-full w-14 flex-center hover:bg-primary-300/10"
                                    >
                                        <Icon name="chat" class="text-primary-100" />
                                    </a>
                                    <a
                                        href={data.instagram.url}
                                        target="_blank"
                                        class="h-14 rounded-full w-14 flex-center hover:bg-primary-300/10"
                                    >
                                        <Icon name="instagram" class="text-primary-100" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Custom Confirmation / Success Page -->
            <!-- <input type="hidden" name="redirect" value="https://mywebsite.com/thanks.html"> -->
        </form>
    </div>
</section>
