---
import Icon from "./Icon.astro";
import Typewrite from "./Typewrite.astro";
import HeaderBg from "./HeaderBg.astro";
import Heading from "./Heading.astro";
import { t } from "i18next";
import { data } from "@/data";
---

<div class="w-full h-screen bg-background flex-center relative">
    <HeaderBg class="absolute inset-0" />
    <div class="container px-8 mx-auto relative flex justify-between z-10 flex-col-reverse md:flex-row">
        <div class="w-full lg:w-3/4 flex flex-col gap-2">
            <Heading title="Hey there" />
            <h1 class="text-5xl lg:text-7xl font-bold min-h-[3em]">
                {t("site:header.im-lean.0")}
                <br />
                {t("site:header.im-lean.1")}
                <span class="text-primary-100">
                    <Typewrite words={t("site:header.words", { returnObjects: true }) as string[]} id="title" />
                </span>
            </h1>

            <div class="flex flex-col gap-4 md:gap-0 md:flex-row items-center mt-12 md:mt-6">
                <a
                    href="#"
                    class="h-14 px-6 flex-center rounded-full bg-primary-300 text-primary-900 font-medium tracking-wider hover:bg-primary-200 whitespace-nowrap shadow-lg shadow-primary/40"
                >
                    {t("site:header.cta")}
                </a>
                <div
                    class="h-14 md:-ml-6 px-4 md:pr-0 md:pl-8 flex items-center rounded-full md:rounded-l-none bg-primary-100/10"
                >
                    <a href={data.linkedin.url} class="h-14 rounded-full w-14 flex-center hover:bg-primary-300/10">
                        <Icon name="linkedin" class="text-primary-50" />
                    </a>
                    <a href={data.whatsapp.url} class="h-14 rounded-full w-14 flex-center hover:bg-primary-300/10">
                        <Icon name="chat" class="text-primary-50" />
                    </a>
                    <a href={data.instagram.url} class="h-14 rounded-full w-14 flex-center hover:bg-primary-300/10">
                        <Icon name="instagram" class="text-primary-50" />
                    </a>
                </div>
            </div>
        </div>
        <div class="w-full md:w-1/4 aspect-square flex-shrink-0 relative scale-[0.8] md:scale-[1]">
            <div class="absolute inset-0 flex-center animate-profile-decor-1">
                <img src="/path.webp" class="size-full" animate-pulse />
                <div class="size-8 absolute top-[14.5%] left-[8.5%] flex-center animate-pulse">
                    <div class="size-6">
                        <Icon name="laravel" />
                    </div>
                </div>
            </div>
            <div class="absolute inset-0 flex-center animate-profile-decor-2">
                <img src="/path.webp" class="size-[80%] animate-pulse" />
                <div class="size-8 absolute top-[21.5%] left-[15.5%] flex-center animate-pulse">
                    <div class="size-6">
                        <Icon name="react" />
                    </div>
                </div>
            </div>
            <div class="absolute inset-0 flex-center animate-profile-decor-3">
                <img src="/path.webp" class="size-[60%] animate-pulse" />
                <div class="size-8 absolute top-[29%] left-[22%] flex-center animate-pulse">
                    <div class="size-6">
                        <Icon name="node" />
                    </div>
                </div>
            </div>
            <div class="absolute inset-0 flex-center">
                <img
                    src="/profile.png"
                    alt="Leeean.dev"
                    class="size-[40%] object-cover object-center rounded-full border-4 border-primary shadow-xl shadow-primary/20"
                />
            </div>
        </div>
    </div>
</div>
