---
import Icon from "./Icon.astro";
import Typewrite from "./Typewrite.astro";
import HeaderBg from "./HeaderBg.astro";
import Heading from "./Heading.astro";
import { t } from "i18next";
import { data } from "@/data";
---

<div class="w-full h-screen bg-background flex-center relative">
    <HeaderBg class="absolute inset-0 opacity-30" />
    <div class="container px-8 mx-auto relative z-10">
        <div class="w-full flex flex-col gap-2">
            <Heading title="Hey there" />
            <h1 class="text-5xl lg:text-7xl font-bold min-h-[3em]">
                {t("site:header.im-lean.0")}
                <br />
                {t("site:header.im-lean.1")}
                <span class="text-primary-100">
                    <Typewrite words={t("site:header.words", { returnObjects: true }) as string[]} id="title" />
                </span>
            </h1>

            <div class="flex flex-col gap-4 lg:gap-0 lg:flex-row items-center mt-12 lg:mt-6">
                <a
                    href="#"
                    class="h-14 px-6 flex-center rounded-full bg-primary-300 text-primary-900 font-medium tracking-wider hover:bg-primary-200 whitespace-nowrap"
                >
                    {t("site:header.cta")}
                </a>
                <div
                    class="h-14 lg:-ml-6 px-4 lg:pr-0 lg:pl-8 flex items-center rounded-full lg:rounded-l-none bg-primary-100/10"
                >
                    <a href={data.linkedin.url} class="h-14 rounded-full w-14 flex-center hover:bg-primary-300/10">
                        <Icon name="linkedin" class="text-primary-50" />
                    </a>
                    <a href={data.whatsapp.url} class="h-14 rounded-full w-14 flex-center hover:bg-primary-300/10">
                        <Icon name="chat" class="text-primary-50" />
                    </a>
                    <a href={data.instagram.url} class="h-14 rounded-full w-14 flex-center hover:bg-primary-300/10">
                        <Icon name="instagram" class="text-primary-50" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
