---
import Icon from "./Icon.astro";
import { t } from "i18next";
import { LanguageSelector } from "astro-i18next/components";
---

<div class="fixed top-0 left-0 w-full z-20">
    <div class="container mx-auto py-6 px-8">
        <div class="h-16 w-full bg-background/70 backdrop-blur-xs rounded-full px-6 border border-background">
            <div class="w-full h-16 flex justify-between items-center">
                <a href="#" class="flex items-center text-xl text-primary">
                    <span class="font-bold leading-4">Leeean</span>
                    <span class="leading-4 text-primary-200/50">.dev</span>
                </a>

                <div class="h-16 flex-center">
                    <a href="#" class="h-12 flex-center px-4 text-primary-500">{t("site:nav.my-career")}</a>
                    <a href={`/${t("site:cv-file")}`} target="_blank" class="h-12 flex-center px-4 text-primary-500">
                        {t("site:nav.download-cv")}
                    </a>
                    <div class="h-12 flex-center px-4 text-primary-500">
                        <Icon name="language" />
                        <LanguageSelector class="text-primary-500" languageMapping={{ es: "ES", en: "EN" }} />
                    </div>
                    <a href="#" class="h-10 flex-center px-4 bg-primary-500 font-medium text-primary-900 rounded-full">
                        {t("site:nav.cta")}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
