---
import Heading from "./Heading.astro";
import Icon from "./Icon.astro";
import { t } from "i18next";
---

<div class="container mx-auto px-6 pb-32">
    <div class="w-full flex flex-col gap-2">
        <Heading as="h2" title={t("site:tech-stack")} />
        <span class="text-5xl">
            <span>
                {t("site:tech-stack-subtitle.0")}
                <span class="text-primary-100">{t("site:tech-stack-subtitle.1")}</span>
                {t("site:tech-stack-subtitle.2")}
            </span>
        </span>
        <div class="w-full flex justify-center items-end gap-2">
            <!-- Tech -->
            <div class="flex flex-col w-32">
                <div class="w-full flex-center py-4">
                    <Icon name="laravel" class="size-14" />
                </div>
                <div class="w-8 mx-auto h-12 bg-gradient-to-b from-[#F8A9A0] to-transparent rounded-t-full"></div>
            </div>

            <!-- Tech -->
            <div class="flex flex-col w-32">
                <div class="w-full flex-center py-4">
                    <Icon name="react" class="size-14" />
                </div>
                <div class="w-8 mx-auto h-24 bg-gradient-to-b from-[#B0EDFD] to-transparent rounded-t-full"></div>
            </div>

            <!-- Tech -->
            <div class="flex flex-col w-32">
                <div class="w-full flex-center py-4">
                    <Icon name="vue" class="size-14" />
                </div>
                <div class="w-8 mx-auto h-40 bg-gradient-to-b from-[#42b883] to-transparent rounded-t-full"></div>
            </div>

            <!-- Tech -->
            <div class="flex flex-col w-32">
                <div class="w-full flex-center py-4">
                    <Icon name="figma" class="size-14" />
                </div>
                <div class="w-8 mx-auto h-24 rounded-t-full overflow-hidden flex">
                    <div class="w-full bg-gradient-to-b from-[#f24e1e] to-transparent"></div>
                    <div class="w-full bg-gradient-to-b from-[#ff7262] to-transparent"></div>
                    <div class="w-full bg-gradient-to-b from-[#a259ff] to-transparent"></div>
                    <div class="w-full bg-gradient-to-b from-[#1abcfe] to-transparent"></div>
                    <div class="w-full bg-gradient-to-b from-[#0acf83] to-transparent"></div>
                </div>
            </div>

            <!-- Tech -->
            <div class="flex flex-col w-32">
                <div class="w-full flex-center py-4">
                    <Icon name="node" class="size-14" />
                </div>
                <div class="w-8 mx-auto h-12 bg-gradient-to-b from-[#66cc33] to-transparent rounded-t-full"></div>
            </div>

            <!-- Tech -->
            <div class="flex flex-col w-32">
                <div class="w-full flex-center py-4">
                    <Icon name="aws" class="size-14" />
                </div>
                <div class="w-8 mx-auto h-40 bg-gradient-to-b from-[#ccc] to-transparent rounded-t-full"></div>
            </div>

            <!-- Tech -->
            <div class="flex flex-col w-32">
                <div class="w-full flex-center py-4">
                    <Icon name="terraform" class="size-14" />
                </div>
                <div class="w-8 mx-auto h-24 bg-gradient-to-b from-[#5c6bc0] to-transparent rounded-t-full"></div>
            </div>

            <!-- Tech -->
            <div class="flex flex-col w-32">
                <div class="w-full flex-center py-4">
                    <Icon name="docker" class="size-14" />
                </div>
                <div class="w-8 mx-auto h-40 bg-gradient-to-b from-[#0288d1] to-transparent rounded-t-full"></div>
            </div>

            <!-- Tech -->
            <div class="flex flex-col w-32">
                <div class="w-full flex-center py-4">
                    <Icon name="python" class="size-14" />
                </div>
                <div class="w-8 mx-auto h-12 bg-gradient-to-b from-[#fdd835] to-transparent rounded-t-full"></div>
            </div>
        </div>
    </div>
</div>
