---
import Container from "./Container.astro";
import Heading from "./Heading.astro";
import Icon from "./Icon.astro";
import { t } from "i18next";
---

<Container id="tech-stack" as="section">
    <div class="w-full flex flex-col gap-2">
        <Heading as="h2" title={t("site:tech-stack")} />
        <span class="text-7xl font-brand">
            <span>
                {t("site:tech-stack-subtitle.0")}
                <span class="text-primary-100">{t("site:tech-stack-subtitle.1")}</span>
                {t("site:tech-stack-subtitle.2")}
            </span>
        </span>
        <div class="w-full flex lg:flex-row flex-col lg:justify-center lg:items-end lg:gap-2">
            <!-- Tech -->
            <div class="flex flex-row-reverse gap-4 lg:flex-col w-full items-center lg:w-32">
                <div class="lg:w-full flex-center py-4">
                    <Icon name="laravel" class="size-14" />
                </div>
                <div
                    class="w-full lg:w-8 mx-auto h-4 lg:h-12 bg-gradient-to-l lg:bg-gradient-to-b from-[#F05340] to-transparent rounded-r-full lg:rounded-t-full"
                >
                </div>
            </div>

            <!-- Tech -->
            <div class="flex flex-row-reverse gap-4 lg:flex-col w-1/2 items-center lg:w-32">
                <div class="lg:w-full flex-center py-4">
                    <Icon name="react" class="size-14" />
                </div>
                <div
                    class="w-full lg:w-8 mx-auto h-4 lg:h-24 bg-gradient-to-l lg:bg-gradient-to-b from-[#B0EDFD] to-transparent rounded-r-full lg:rounded-t-full"
                >
                </div>
            </div>

            <!-- Tech -->
            <div class="flex flex-row-reverse gap-4 lg:flex-col w-3/4 items-center lg:w-32">
                <div class="lg:w-full flex-center py-4">
                    <Icon name="vue" class="size-14" />
                </div>
                <div
                    class="w-full lg:w-8 mx-auto h-4 lg:h-40 bg-gradient-to-l lg:bg-gradient-to-b from-[#42b883] to-transparent rounded-r-full lg:rounded-t-full"
                >
                </div>
            </div>

            <!-- Tech -->
            <div class="flex flex-row-reverse gap-4 lg:flex-col w-1/2 items-center lg:w-32">
                <div class="lg:w-full flex-center py-4">
                    <Icon name="figma" class="size-14" />
                </div>
                <div
                    class="w-full lg:w-8 mx-auto h-4 lg:h-24 rounded-r-full lg:rounded-t-full overflow-hidden flex flex-col lg:flex-row"
                >
                    <div class="h-full lg:w-full bg-gradient-to-l lg:bg-gradient-to-b from-[#f24e1e] to-transparent">
                    </div>
                    <div class="h-full lg:w-full bg-gradient-to-l lg:bg-gradient-to-b from-[#ff7262] to-transparent">
                    </div>
                    <div class="h-full lg:w-full bg-gradient-to-l lg:bg-gradient-to-b from-[#a259ff] to-transparent">
                    </div>
                    <div class="h-full lg:w-full bg-gradient-to-l lg:bg-gradient-to-b from-[#1abcfe] to-transparent">
                    </div>
                    <div class="h-full lg:w-full bg-gradient-to-l lg:bg-gradient-to-b from-[#0acf83] to-transparent">
                    </div>
                </div>
            </div>

            <!-- Tech -->
            <div class="flex flex-row-reverse gap-4 lg:flex-col w-2/3 items-center lg:w-32">
                <div class="lg:w-full flex-center py-4">
                    <Icon name="node" class="size-14" />
                </div>
                <div
                    class="w-full lg:w-8 mx-auto h-4 lg:h-12 bg-gradient-to-l lg:bg-gradient-to-b from-[#66cc33] to-transparent rounded-r-full lg:rounded-t-full"
                >
                </div>
            </div>

            <!-- Tech -->
            <div class="flex flex-row-reverse gap-4 lg:flex-col w-full items-center lg:w-32">
                <div class="lg:w-full flex-center py-4">
                    <Icon name="aws" class="size-14" />
                </div>
                <div
                    class="w-full lg:w-8 mx-auto h-4 lg:h-40 bg-gradient-to-l lg:bg-gradient-to-b from-[#ccc] to-transparent rounded-r-full lg:rounded-t-full"
                >
                </div>
            </div>

            <!-- Tech -->
            <div class="flex flex-row-reverse gap-4 lg:flex-col w-3/4 items-center lg:w-32">
                <div class="lg:w-full flex-center py-4">
                    <Icon name="terraform" class="size-14" />
                </div>
                <div
                    class="w-full lg:w-8 mx-auto h-4 lg:h-24 bg-gradient-to-l lg:bg-gradient-to-b from-[#5c6bc0] to-transparent rounded-r-full lg:rounded-t-full"
                >
                </div>
            </div>

            <!-- Tech -->
            <div class="flex flex-row-reverse gap-4 lg:flex-col w-2/3 items-center lg:w-32">
                <div class="lg:w-full flex-center py-4">
                    <Icon name="docker" class="size-14" />
                </div>
                <div
                    class="w-full lg:w-8 mx-auto h-4 lg:h-40 bg-gradient-to-l lg:bg-gradient-to-b from-[#0288d1] to-transparent rounded-r-full lg:rounded-t-full"
                >
                </div>
            </div>

            <!-- Tech -->
            <div class="flex flex-row-reverse gap-4 lg:flex-col w-1/2 items-center lg:w-32">
                <div class="lg:w-full flex-center py-4">
                    <Icon name="python" class="size-14" />
                </div>
                <div
                    class="w-full lg:w-8 mx-auto h-4 lg:h-12 bg-gradient-to-l lg:bg-gradient-to-b from-[#fdd835] to-transparent rounded-r-full lg:rounded-t-full"
                >
                </div>
            </div>
        </div>
    </div>
</Container>
