---
const { company } = Astro.props;
---

<span class="text-terminal-gray/50">
    <span class="inline-flex gap-0">
        <span class="text-terminal-teal">~</span>
        <span class="text-terminal-gray">leeean.dev</span>
        <span class="text-terminal-green">@</span>
        <span class="text-terminal-green">{company}</span>
    </span>
    <span class="block lg:inline cursor" style="overflow-wrap: anywhere">
        <slot />
    </span>
</span>
