---
const WRITE_DELAY = 300;
const { words, id } = Astro.props;
---

<span data-typewriter-id={id}>{words[0]}</span>

<script define:vars={{ words, id }}>
    const el = document.querySelector(`[data-typewriter-id="${id}"]`);

    let timeoutId = undefined;
    let write = true;
    let letterIdx = 0;
    let wordIdx = 0;
    let word = "";

    const process = () => {
        const selectedWord = words[wordIdx];
        let lastWrite = write;
        if (write) {
            word += selectedWord.charAt(letterIdx);
            letterIdx++;
        } else {
            word = word.substring(0, letterIdx);
            letterIdx--;
        }
        if (letterIdx === selectedWord.length) {
            write = false;
        } else if (letterIdx === -1) {
            wordIdx++;
            write = true;
        }
        if (wordIdx === words.length) {
            wordIdx = 0;
        }
        if (el) el.innerHTML = word;
        setTimeout(
            () => {
                process();
            },
            lastWrite === write ? 50 : word.length ? 3000 : 300,
        );
    };

    if (el) el.innerHTML = "";
    process();
</script>
