---
import "../tailwind.css";
import { HeadHrefLangs } from "astro-i18next/components";
import { t } from "i18next";
---

<!doctype html>
<html lang={Astro.currentLocale}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Leeean.dev | Software Engineer</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&display=swap"
            rel="stylesheet"
        />
        <slot name="head" />

        <!-- SEO Stuff -->
        <HeadHrefLangs />
        <meta name="description" content={t("site:meta.description")} />

        <meta property="og:title" content="Leeean.dev | Software Engineer" />
        <meta property="og:description" content={t("site:meta.description")} />
        <meta property="og:url" content="https://leeean.dev" />

        <meta name="twitter:title" content="Leeean.dev | Software Engineer" />
        <meta name="twitter:description" content={t("site:meta.description")} />
        <meta name="twitter:card" content="summary" />
        <!-- END: SEO Stuff -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-B8TB3B5EHN"></script><script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-B8TB3B5EHN");
        </script>
    </head>

    <!-- Google tag (gtag.js) -->

    <body class="font-body bg-background text-primary-800">
        <slot />
    </body>
</html>
